:root {
    --text: white;
    --accent: gold;
    --background: rgb(1, 1, 12);
}

html {
    min-height: 100%;
    width: 100%;
}
body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;

    color: var(--text);
    display: flex;
    flex-direction: column;
    background: var(--background);
    font-family: monospace;
}

a {
    font-size: 15px;
}

h4 { 
    color: var(--accent); 
    padding-left: 10px;
    font-size: 20px;
}
h5 {
    font-size: 17px;
    padding-top: 5px;
}

.horizontal {
    display: flex;
    flex-direction: row;
}
.horizontal > .panel {
    flex: 1;
}
.horizontal > a {
    padding-right: 15px;
}

nav {
    background: rgb(39, 39, 39);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav > * {
    margin: 12px 0 12px 10px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
h1.title {
    color: var(--accent);
    font-size: 40px;
}
h3.subtitle {
    font-size: 20px;
}
h3.subtitle, h1.title {
    text-align: left;
    width: 100%;
    margin: 10px 0 10px 7.5%;
}

.panel {
    border: 2px solid transparent;
    background: linear-gradient(var(--background), var(--background)) padding-box, linear-gradient(gold, var(--background)) border-box;

    border-radius: 20px;
    margin: 2.5%;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 95%;
    text-align: left;
    align-items: center;
}

.panel > * {
    margin: 1%;
} 

.panel > p, .panel > h1, .panel > h2, .panel > h3, .panel > h4, .panel > h5 {
    width: 97%;
}

@keyframes hover-shadow {
    0% { box-shadow: none; }
    100% { box-shadow: 0 0 10px 4.5px grey; }
}

.clickable:hover {
    cursor: pointer;
    animation: hover-shadow 0.2s;
    box-shadow: 0 0 15px 3px grey;
}
