:root {
    --text: white;
    --accent: gold;
}

html {
    min-height: 100%;
    width: 100%;
}
body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;

    color: var(--text);
    display: flex;
    flex-direction: column;
    background: black;
    font-family: monospace;
}

h4 { 
    color: var(--accent); 
    padding-left: 10px;
    font-size: 20px;
}
h5 {
    font-size: 17px;
}

nav {
    background: rgb(39, 39, 39);
}
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
h1.title {
    color: var(--accent);
    font-size: 40px;
}
h3.subtitle {
    font-size: 20px;
}
h3.subtitle, h1.title {
    text-align: left;
    width: 100%;
    margin: 10px 0 10px 7.5%;
}

.panel {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 2.5% 2.5% 2.5% 2.5%;
    display: flex;
    flex-direction: column;
}

.panel > * {
    margin: 1% 1% 1% 1%;
}

.panel a {
    color: inherit;
    text-decoration: none;
}

.panel a:hover {
    color: blue;
}