:root {
    --primary: #000000;
    --accent: #FFD700;
    --muted: #bda937;
    --accent2: #63099c;
    --accent3: #0004ff;
    --text: #ffffff;
}

html {
    color: var(--text);
    background: linear-gradient(160deg, 
        var(--accent) 1%, 
        var(--primary) 33%, 
        var(--accent2) 34%, 
        var(--primary) 35%, 
        var(--primary) 70%, 
        var(--accent3) 71%, 
        var(--primary) 72%, 
        var(--accent) 100%);
    min-height: 100%;
}
body {
    
    margin: 0;
    font-family: monospace;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    font-size: 30px;
    color: var(--accent2);
    margin-bottom: 20vh;
}

.heading {
    padding-top: 120px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 85px;
    color: var(--accent);
    text-shadow: var(--muted) 1px 0 16px;
}

#solutions {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 4px;
    border-style: solid;
    width: 85%;
    border-image-slice: 1;
    border-image-source: linear-gradient(160deg, var(--accent) 33%, var(--primary) 50%);
}

h3 {
    font-size: 24px;
    color: var(--accent3);
}

h4 {
    color: var(--accent3);
}

.tourmaline { color: green; }
.opal { background: linear-gradient(90deg, blue 0%, green 100%);}
.az-topaz { background: linear-gradient(90deg, red 0%, purple 35%, yellow 50%, red 100%); }
.garnet { color: red; }

.opal, .az-topaz {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.panel {
    border: 3px solid var(--primary);
    border-radius: 20px;
    width: 21%;
    padding: 1%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

@keyframes hover-animation {
    0% {
        width: 21%;
        margin-left: 1%;
        margin-right: 1%;
        box-shadow: 0px 0px 0px 0px var(--muted);
    }
    100% {
        width: 22%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        box-shadow: 0px 0px 15px 6px var(--muted);
    }
}

.panel:hover {
    animation: hover-animation 0.3s ease;
    width: 22%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    box-shadow: 0px 0px 15px 6px var(--muted);
}