h1 {
    font-size: 4em;
    color: blue;
    margin: 10% 5% 1% 5%;
    font-family: Andale Mono, monospace;
}
h2 {
    font-size: 2.3em;
    color: purple;
    margin: 1% 5% 7.5% 4%;
    font-family: Andale Mono, monospace;
}
h3 {
    font-size: 2em;
    color: gold;
    margin: 2%;
    margin-bottom: 0;
}
.top {
    background-image: url('../img/jewel.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
    height: calc(100% - 60px);
}

#carousel {
    height: auto;
    width: 98%;
    margin: 0;
    padding: 1%;
    display: flex;
    flex-direction: row;
}
.card {
    height: 70vh;
    width: 90vw;
    margin: 5%;
    background: rgb(36, 36, 36);
    flex-direction: row;
    justify-content: left;
    display: none;
}
.card .primary {
    width: calc(98% - 200px);
    height: 98%;
    margin: 1%;
    text-align: left;
}
.card .secondary {
    width: 200px;
}
.card h4 {
    font-size: 1.6em;
    color: purple;
    margin: 1% 5% 1% 5%;
    font-family: Andale Mono, monospace;
    text-align: center;
}

#carousel-prev, #carousel-next {
    height: 25px;
    width: 20%;
    border: 2px solid grey;
    border-radius: 20px;
    background: black;
    color: purple;
}
#carousel-prev:hover, #carousel-next:hover {
    color: gold;
}