@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jaro:opsz@6..72&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jaro:opsz@6..72&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


*
{
    box-sizing: border-box;
    margin: 0;
}

:root
{
    --lightwhite:rgb(211,211,211);
}

body
{
    background: #313338 !important;
}

nav
{
    width: 100%;
    height: 80px;
    z-index: 100;
    padding: 10px;
    top:0px;
    left: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
}

#navbtn
{
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    transform: rotate(90deg);
    background: #1c1d20;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bolder;
}

nav > ul > li
{
    display: inline-block;
    width:100px;
    height: 50px;
    position: relative;
    float: right;
    margin-right: 50px;
}

nav > ul > li > a
{
    width: 100%;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;  
    padding: 15px;
    font-size: 20px;
    font-family: 'Exo 2',sans-serif;

}

nav > ul > li > a::before
{
    width: 0%;
    height: 5px;
    display: block;
    content: ' ';
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: linear-gradient(90deg , rgb(118, 235, 235) , rgb(75, 86, 243) , rgb(168, 32, 209) , rgb(187, 18, 105) , rgb(225, 31, 31));
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

nav > ul > li > a:hover::before
{
    width: 100%;
    left: 0px;
}

#header
{
    width: 100%;
    height: 100vh;
    position:relative;
    top:0px;
    left:0px;
    background: linear-gradient(45deg , rgba(30, 30, 30, 0.832),rgb(0,0,0)),url("images/headerimg.jpg");
    background-position: center center;
    background-size: cover;
    z-index: 1;
    background-attachment: fixed;
}

#nav_name
{
    float: left;
    width: 200px;
    height: 80px;
    padding: 5px;
    text-align: center;
    transform: translateY(-10px);
}
 
#nav_name > img
{
    width: 150px;
    height: 75px;
}


#header
{
    color:white;
    text-align:left;
    padding: 30px;
}

#header>h1
{
    font-size: 70px;
    margin-top: 20vh;
    font-family: "Josefin Sans", sans-serif;

}

#header > img
{
    width: 300px;
    height: 300px;
    margin-top: 10vh;
    position: absolute;
    left: calc(60% - 50px);
    transform: rotate(20deg);
}

.light_text
{
    font-size:20px;
    font-family:'Exo 2 ', sans-serif;
    font-weight: lighter;
    color: rgb(211, 211, 211);
}

#phone_logo
{
    display: none;
}

#header > button
{
    width: 150px;
    height: 50px;
    background: linear-gradient(90deg , rgb(118, 235, 235) , rgb(75, 86, 243) , rgb(168, 32, 209) , rgb(187, 18, 105) , rgb(225, 31, 31) );
    border-radius: 50px;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    font-family: 'Exo 2',sans-serif;
    position: relative;
    margin-left: 15px;
}

#header>button:hover
{
    box-shadow: 0px 0px 10px gold;
}

#header>button::before
{
    content: ' ';
    display: block;
    /* background: linear-gradient(90deg , rgb(118, 235, 235) , rgb(75, 86, 243) , rgb(168, 32, 209) , rgb(187, 18, 105) , rgb(225, 31, 31) ); */
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 100%;
    z-index: 0;
    border-radius: 50px;
    transition: 0.3s;
}

#header>button:hover::before
{
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 10px gold;
}

#about
{
    width:100%;
    height:65vh;
    padding: 30px;
    text-align: center;
}


.headtext
{
    color: white;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 50px;
    position: relative;
}

.headtext::before
{
    content: ' ';
    display: block;
    width: 60px;
    height: 10px;
    background: linear-gradient(90deg , rgb(118, 235, 235) , rgb(75, 86, 243) , rgb(168, 32, 209) , rgb(187, 18, 105) , rgb(225, 31, 31) );
    position: absolute;
    bottom: 0px;
    left: calc(50% - 30px);
    transform: translateY(10px);
    border-radius: 50px;
}


#team
{
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 30px;
}

#team > div
{
    width: 25%;
    height: 66vh;
    background:#1e1f22;
    border-radius: 10px;
    padding: 30px;
    margin: 15px;
    display: inline-block;
    position: relative;
    text-align: center;
}

#diamond
{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    left:10px;
}


.pfp
{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid rgb(231, 225, 33);
}

#team > div > h1
{
    color: white;
    text-align: center;
    font-family: 'Josefin sans',sans-serif;
}

#team > div > h3
{
    font-size: 16px;
    color: rgb(202, 202, 202);
    font-family: 'Exo 2',sans-serif;
}

#team > div > p
{
    font-family: 'Roboto Mono',sans-serif;
}

.lighter
{
    font-size: 15px;

}

.location
{
    position: absolute;
    bottom: 30px;
    left: 30px;
}


#projects
{
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 15px;
    margin-top: 10vh;
}

#carousel-container {
    overflow: hidden; 
    width: 100%; 
    height: 70vh;
    white-space: nowrap; 
}
  
#carousel {
    display: flex; 
    animation: scroll 25s linear infinite;
}
  
.slide {
    height: 60vh;
    border-radius: 10px;
    margin: 30px;
    flex: 0 0 auto; 
    position: relative;
    width: 60%; 
    text-align: center;
    color: white;
    text-overflow:wrap;
    background-color: #1c1d20;
    padding: 30px;
}

.slide > h1
{
    font-family: 'Josefin sans';
}

.slide > button
{
    margin: 30px;
}


#openproj
{
    width: 150px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    background: #1c1c9b;
    transition: 0.3s;
    cursor: pointer;
    color: var(--lightwhite);
}

#openproj:hover
{
    background: #151580;
}

#gitbutton
{
    width: 150px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    background: #602d84;
    color: var(--lightwhite);
    transition: 0.3s;
    cursor:pointer;
}

#gitbutton:hover
{
    background:#4b2269 ;
}

.slide:first-child
{
    background: linear-gradient(45deg , rgba(30, 30, 30, 0.832),rgb(0,0,0)),url("images/headerimg.jpg");
    background-position: center center;
    background-size: cover;
}

.slide:nth-child(2)
{
    background: linear-gradient(45deg , rgba(30, 30, 30, 0.832),rgb(0,0,0)),url("images/headerimg.jpg");
    background-position: center center;
    background-size: cover;
}

.slide:nth-child(3)
{
    background: linear-gradient(45deg , rgba(30, 30, 30, 0.832),rgb(0,0,0)),url("images/headerimg.jpg");
    background-position: center center;
    background-size: cover;
}

.slide:nth-child(4)
{
    background: linear-gradient(45deg , rgba(30, 30, 30, 0.832),rgb(0,0,0)),url("images/headerimg.jpg");
    background-position: center center;
    background-size: cover;
}

#carousel:hover
{
    animation-play-state: paused;
}

#contact
{
    width: 100%;
    padding: 30px;
    height: 45vh;
    text-align: center;
}

#contact > p
{
    font-family: 'Exo 2',sans-serif;
    color:white;
    font-size:20px;

}

#contact > p > span 
{
    font-weight: bolder;
}

#contact > a
{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 15px;
}

#contact > a > div
{
    width:60px;
    height:60px;
    background:#1a1a1b;
    display:inline-block;
    border-radius:5px;
    padding:5px;
    cursor: pointer;
    overflow:hidden;
    transition:0.3s;
}

#contact > a > div:hover
{
    transform:translateY(-5px)
}

#contact > a > div > img
{
    width: 50px;
    height: 50px;

}

#footer
{
    width:100%;
    height:50px;
    background: #1a1a1b;
    text-align: center;
    color: white;
    font-family: 'Exo 2',sans-serif;
    font-size: 18px;
    padding: 10px;
}


@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}
  
  

/* responsive */

@media only screen and (max-width:740px)
{
    nav > ul > li
    {
        display: none;
    }

    #header > h1
    {
        transform: translateY(-30px);
        font-size: 40px;
    }
    #header > p
    {
        transform: translateY(-40px);

        font-size: 18px;
    }

    #header > button
    {
        margin: 0px;
        transform: translateY(-70px);
    }

    #navbtn
    {
        display: block;
    }

    nav{
        padding: 15px;
    }

    #phone_logo
    {
        display: block;
        width: 150px;
        height: 75px;
        position: absolute;
        top: 0px;
        left: calc(50% - 75px);
    }

    #about
    {
        height: 150vh;
    }

    #team
    {
        margin-top: 25vh;
        height: 120vh;

    }

    #team > div
    {
        width: 90%;
        display: block;
        height: 70vh;

    }

    .location
    {
        bottom:15px;
        left: 15px;
    }

    #projects
    {
        margin-top: 150vh;
    }

    #team > div > p
    {
        transform: translateY(-30px);
    }

    #carousel-container {
        width: 100%; /* Adjust width for smaller screens */
    }
    
    .slide {
        font-size: 1rem; /* Adjust text size for smaller screens */
    }




}